VAPID_PUBLIC_KEY=BBuuE6ITF9JZ2ADHsgAbt4Vfc74bNsST6dbixZEtcWa8QppgWhrmtQdH46GkMtG12FFuC6bxl5MpxPCrRYKDgL0
VAPID_PRIVATE_KEY=INSERISCI_LA_PRIVATE_KEY_GENERATA_LOCALMENTE_SU_TRUENAS
VAPID_SUBJECT=https://papamike80.github.io/Navibeta/
FIREBASE_API_KEY=AIzaSyBfJZWHjr3AIANDBj2p8uQ0_hbcHdmnSiE
FIREBASE_DATABASE_URL=https://navisuite-f116f-default-rtdb.europe-west1.firebasedatabase.app
POLL_MS=5000
BATCH_SIZE=25
