VAPID_PUBLIC_KEY=BC6uahr9cCmvN0YcxpNevngxZLrJRRNLTXujs3CUXXN2dGdHhQI5hVws-nph1pdCtMKzQU3EBmf4UMPde_uaq1w
VAPID_PRIVATE_KEY=INCOLLA_QUI_LA_STESSA_CHIAVE_PRIVATA_USATA_NEL_SECRET_GITHUB_NAVISUITE_VAPID_PRIVATE_KEY
VAPID_SUBJECT=https://papamike80.github.io/Navibeta/
FIREBASE_API_KEY=AIzaSyBfJZWHjr3AIANDBj2p8uQ0_hbcHdmnSiE
FIREBASE_DATABASE_URL=https://navisuite-f116f-default-rtdb.europe-west1.firebasedatabase.app
POLL_MS=5000
BATCH_SIZE=25
