POCKETBASE_URL=http://pocketbase:8090
PONTERADIO_WORKER_SECRET=GENERA_UN_SECRET_LUNGO_CASUALE
VAPID_PUBLIC_KEY=BBuuE6ITF9JZ2ADHsgAbt4Vfc74bNsST6dbixZEtcWa8QppgWhrmtQdH46GkMtG12FFuC6bxl5MpxPCrRYKDgL0
VAPID_PRIVATE_KEY=INSERISCI_LA_PRIVATE_KEY_ASSOCIATA
VAPID_SUBJECT=https://papamike80.github.io/Navibeta/
POLL_MS=5000
